$baseColor__primary: #1c75bc;
$baseColor__backgroundPrimary: #1c75bc;
$baseColor__secondary: #333333;
$baseColor__backgroundSecondary: #27aae1;
$baseColor__tertiary: #dddddd;
$baseColor__backgroundTertiary: #dddddd;
$baseColor__quaternary: #444444;
$baseColor__backgroundQuaternary: #cfcfcf;
$baseColor__font: #000000;
$baseColor__hyperlink: #333333;
$baseColor__hover: #ff0000;
