{% extends '@ibexadesign/customer_portal/layout_with_menu.html.twig' %}

{% trans_default_domain 'customer_portal' %}

{% block content %}
    <div class="ibexa-container">
        <div class="ibexa-ca-customer-portal">
            {% include '@ibexadesign/customer_portal/support/table.html.twig' with {
                tickets,
                headline: 'customer_portal.base.table.headline'|trans({ '%count%': tickets.getNbResults })|desc('List (%count%)'),
            } only %}

            {% if tickets.haveToPaginate %}
                {% include '@ibexadesign/ui/pagination.html.twig' with {
                    pager: tickets,
                } %}
            {% endif %}
        </div>
    </div>
{% endblock %}
